/* First Comment */

*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red;  */
}

body {
  background-color: grey;
  color: black;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 14px;
  margin: 50px;
  background-image: url(images/email-pattern.png);
  background-repeat: repeat;
}
p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0;
}


h1 {
  color: red;
}
.title {
  font-size: 48px;
  text-decoration: underline;
  color: white;
}

h1 {
  color: White;
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 24px;
}
h1, h2, h3 {
  margin-bottom: 20px;
}
header {
  background-color: DimGray;
  color: White;
  border-bottom: 5px solid grey;
}

section {
  background-color: DimGray;
  color: white;
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
}

footer {
  background-color: Black;
  color: White;
}
header, footer, section {
  padding: 30px;
}

img {
  /* width: 400px; */
  /* height: 300px; */
  width: 100%;
}

.block {
  border-bottom: 5px solid LightSlateGray;
}
/* This code is shadow */
.shadow {
-webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  height: 350px;
  background-image: url(images/onWayhome.jpg);
  background-size: cover;
  background-position: center;
}


header .media-icon {
  color: white;
  font-size: 24px;
}

.About-images {
  margin-top: 20px
}
